*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,form {
    margin:0;
}

ul,ol {
    padding-left:0;
    list-style-type:none;
}

a {
    color: #fff;
    text-decoration: none;
}

/*image with no-border*/
a img {
    border:0;
}

img{
    border:0;
}

.btn {
    border: 0;
    outline: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*清楚浮动*/
.fix {
    *zoom: 1;
}

.fix:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.hide {
    display: none;
}

@font-face {
    font-family: YH;
    src: local("Microsoft Yahei");
}

/*鼠标选中的颜色*/
/* webkit, opera, IE9 */
::selection {
    background: rgba(255,255,255, .5);
}
/* mozilla firefox */
::-moz-selection {
    background: rgba(255,255,255, .5);
}

@font-face {
    font-family: "iconfont";
    src: url('../../css/fonts/iconfont.eot?t=1500560982258'); /* IE9*/
    src: url('../../css/fonts/iconfont.eot?t=1500560982258#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../css/fonts/iconfont.woff?t=1500560982258') format('woff'), /* chrome, firefox */
    url('../../css/fonts/iconfont.ttf?t=1500560982258') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../css/fonts/iconfont.svg?t=1500560982258#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before { content: "\e60a"; }

.icon-backHome:before { content: "\e67b"; }

.icon-goLink:before { content: "\e624"; }

.icon-weixin:before { content: "\e600"; }

.icon-weibo-copy:before { content: "\e601"; }

.icon-github:before { content: "\e621"; }